
@font-face { 
	font-family: 'OpenSans'; 
	font-display: swap; 
	src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); 
	font-weight: 400; 
	font-style: normal; 
} 

@font-face { 
	font-family: 'OpenSans'; 
	font-display: swap; 
	src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/pensansbold.woff") format("woff"); 
	font-weight: 700; 
	font-style: normal; 
} 

@font-face { 
	font-family: 'OpenSans'; 
	font-display: swap; 
	src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); 
	font-weight: 300; 
	font-style: normal; 
} 

body{
	font-family: 'OpenSans', serif; 
}
#root, .App{
	height: 100vh;
}

.downLink{
	display: flex;
	
	padding-left: 40px;
	padding-top: 60px;
}
.tableOverlay{
	padding-left: 40px;
	margin-top: 20px;
}

.structure{
	display: flex;
	height: 100%;

}
.leftPanel{
	background-color: #171A2B;
		color: #FCF6F6;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 40px;
	padding-right: 20px;
	padding-top: 60px;
	width: 275px;
	height: 100%;
}
.leftPanel a{
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
line-height: 25px;
/* identical to box height */
transition: 0.2s ease-in-out;
border-bottom: 1px solid rgba(1,1,1,0);

color: #FCF6F6;

}

.leftPanel a:hover{
	display: inline-block;
	font-size: 18px;
line-height: 25px;
/* identical to box height */
border-bottom: 1px solid #BCBCBC;

color: #BCBCBC;

}

a{
	display: inline-block;
	font-size: 18px;
line-height: 25px;
/* identical to box height */

text-decoration-line: underline;

color: #0073DD;
}

